<!DOCTYPE html>
<html>
  <head>
    <title>OnlineGrading</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="card text-center">
  <div class="card-header">
    <ul class="nav justify-content-center">
    <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link"><%= link_to 'Home', root_path, :class => 'navbar-link' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= link_to 'Course', courses_path, :class => 'navbar-link' %>
      </li>
      <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= link_to 'Grade', grades_path, :class => 'navbar-link' %>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  </li>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </ul>
  </div>
  


    <%= yield %>
    <div class="card-body">
    <a href="#" class="btn btn-info">CopyRight@alexis</a>
  </div>
  </div>
  </body>
</html>
